{% extends 'core/base.html' %}

{% block title %}Welcome{% endblock title %}

{% block content %}
    <div class="columns is-multiline mt-5">
        <div class="column is-12 has-text-centered">
            <h2 class="is-size-3">New Arrivals</h2>
        </div>
    
    {% for product in newest_products %}
        {% include 'product/parts/list_item.html' %}
    {% endfor %}
    
    </div>
    
    {% for category in menu_categories %}
      <div class="demo">
        <h3 class="subtitle">{{ category.title }} > </h3>

        {% include 'core/parts/slider.html' %}
      </div>
      
      {% block SliderScript %}
        <script type="text/javascript">
          $(document).ready(function() {
            $('#content-slider-{{ forloop.counter }}').lightSlider({
                item:4,
                loop:false,
                slideMove:1,
                easing: 'cubic-bezier(0.25, 0, 0.25, 1)',
                speed:600,
                responsive : [
                    {
                        breakpoint:800,
                        settings: {
                            item:3,
                            slideMove:1,
                            slideMargin:6,
                          }
                    },
                    {
                        breakpoint:480,
                        settings: {
                            item:2,
                            slideMove:1
                          }
                    }
                ]
            });  
          });
        </script>      
      {% endblock SliderScript %}
      
      {% block SliderStyles %}
        <style>
          ul{
            list-style: none outside none;
            padding-left: 0;
            margin: 0;
          }
          .demo .item{
              margin-bottom: 60px;
          }
          .content-slider h3 {
              margin: 0;
              padding: 70px 0;
          }
          .demo{
              width: 90vw;
          }
          .content-slider{
            height: 180px;
          }
          .lSSlideWrapper{
            height: 185px;
          }
          .slider-card{
            height: 180px;
          }
          .slider-card .card-image,.slider-card .card-image figure,.slider-card .card-image figure img{
            height: 100px;
          }
          .slider-card .card-content, .slider-card .card-content .content{
            padding: 0;
            text-align: center;
            height: 80px;
            margin-top: 0.5rem;
            /* font-weight: 500; */
          }
          .lSSlideOuter .lightSlider, .content-slider{
            height: 185px !important;
          }
        </style>
      {% endblock SliderStyles %}
        
        
    {% endfor %}
      
      
        
{% endblock content %}